   

  <form role="form" ng-submit="processNotNot();">
    <h2>{{SubjectIsNot}}</h2>
    <br><div ng-click="toggleisare();" class="isare"> {{isaretoggle}} </div><br>
    <div class="form-group">
      <span class="notnotwhat">{{notnotwhat}}</span>
      <input ng-model="notnotnot" class="form-control adjective" type="text" placeholder="What?" required>
      <a href="#/isnot" ng-click="getAntonyms();"><span class="interact">{{suggest}}</span></a>
      <select ng-model="suggestions" selected-item="selected.item" ng-change = "setnotnotnot();" ng-options="ant.syn for ant in ants" ng-show="showants" style="width:60%;;"></select>
   
    <h3><a href="#/subject"><button id="btn-click" class="btn btn-warning"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Refactor</button></a><button id="btn-click" type="submit" class="btn btn-success">Truth <span class="glyphicon glyphicon-hand-right"></span></button></h3> </div>
</form>

