 
html {
  font-size: 16px;
}
body {
  background: #ffffff;
  color: #000;
  font-size: 1em;
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a, a:visited {
  text-decoration: none;
}

.main{
  color: #000;
  width: 60%;
  max-width: 350px;
  margin: auto;
  background: #fafafa;

}
.title{
  color: #01579b;
  font-size: 3em;
  word-spacing: -0.125em;

}


input{
  color:#000000;

}

.right{
  float: right;
}

.btn-next{
  background: #e51c23;
  color: #fff; 
}

.btn-green{
  background: #259b24;
  color: #fff; 
}




.app{
  font-size: 1em;
}

.phenomenal{
  float: none;
  width: 30px;
  height: 45px;
}

#getantonyms{
  display: none;
}
