

<form role="form"  ng-submit="processForm();">
  <div class="form-group" >{{IPA}}
    <input id="subject" focus="true" ng-model="subject" class="form-control subject" type="text" placeholder="Enter Subject or Flash"  focus required><span class="GetRandomWord" ng-click="GetRandomWord();"><span class="glyphicon glyphicon-flash"></span></span>
  </div>
  <div class="form-group">

    <ul ng-repeat="thenotnot in thenotnots">
      <li>not not: {{thenotnot.name}}</li>
    </ul>
    <br><em><div ng-click="toggleisare();" class="isare"> {{isaretoggle}} </div></em><br>
    </label>
    <input id="thenot" ng-model="thenot" class="form-control adjective" type="text" placeholder="What?" required>
     
<h3><button id="btn-click" type="submit" class="btn btn-green">Next&nbsp;<span class="glyphicon glyphicon-hand-right"></span></button></h3>
</form>



  